{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "indent": [2, "tab"],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "no-console": 2
    }
}
